body {
  font-family: Lato, Helvetica, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  height: 50%;
}

.full-stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-prompt {
  font-size: 36px;
}
